/* 導覽使用方式 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    display: flex;  /* 設定這個 下面得 padding 就可以用  OR 這邊設定padding */
}

nav ul li a {
    padding: 0.5rem 0.75rem;
    color: white;
    text-decoration: none;
    transition: all 0.25s ease; /* 動畫效果快慢出現 */
}

nav ul li a:hover {
    background-color: yellow;  /* 設定游標到字會出現黃色 */
    
}